# Byte-compiled / optimized / DLL files
.mypy_cache/
.ruff_cache/
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env
.env.*
!.env.example

# Virtual environments
venv/
env/
.venv/
ENV/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code and devcontainer settings
.vscode/
!.devcontainer/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Test and coverage outputs
htmlcov/
.tox/
.coverage
.cache
.pytest_cache/
nosetests.xml
coverage.xml

# Old or backup files
old/
*.bak
*.swp